<!-- templates/base.html -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}MSYH.FM{% endblock %}</title>
    <link rel="stylesheet" href="/static/style/bulma/css/bulma.css">
    <link rel="stylesheet" href="/static/style/my_style.css" />
    <link rel="icon" type="image/png" href="/static/images/logos/favicon.png" size="32x32">
    <script src="https://kit.fontawesome.com/e1a96fa28a.js" crossorigin="anonymous"></script>
  </head>
  <body>
    {% include 'socialbar.html' %}
    {% include 'music_player.html' %}
    {% include 'navbar.html' %}
    <main>
      {% block content %}
      {% endblock %}
    </main>
  </body>
</html>
