{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<h1>
    Homepage
</h1>

<iframe width="100%" height="60" src="https://www.mixcloud.com/widget/iframe/?hide_cover=1&mini=1&feed=%2FMSYHdotFM%2Fluiza-bill-interview-nye-2022-cobra-presented-by-creatives-drink-make-sure-you-have-funtm%2F" frameborder="0" >

</iframe>

<div style="height: 500px;"><div id="rt-56bf195e43c9e51c52442af60f94b149">
    <script src="https://rumbletalk.com/client/?wAGSTvoP"></script>
</div>
{% endblock %}
