<nav class="navbar is-transparent" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://bulma.io">
      <img src="/static/images/logos/MSYH.FM-Logo-Black-500x500px.png" width="60" height="100">
    </a>
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div class="navbar-menu">
    <div class="navbar-start">
      <a href=# class="navbar-item">Radio</a>
      <a href=# class="navbar-item">Events</a>
      <a href=# class="navbar-item">Blog</a>
      <a href=# class="navbar-item">Store</a>
      <a href=# class="navbar-item">About</a>
      <a href=# class="navbar-item">Subscribe</a>
      <a class="navbar-item">Stream</a>
    </div>
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
        <span style="float:right">
          {% if user.is_authenticated %}
              {% url 'accounts:profile' as profile_url %}
              <span>Hi {% if request.path == profile_url %}{{ user.username }}{% else %}<a href="{{ profile_url }}">{{user.username}}</a>{% endif %}!</span>
              <span><a class="button is-danger" href="{% url 'accounts:logout' %}">Logout</a></span>
          {% else %}
              <span><a class="button is-primary" href="{% url 'accounts:login' %}">Login</a></span>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</nav>
