<div class="columns">
    <div class="column is full" id="social">
        <div class="social">
            <i class="fab fa-instagram" id="social-button"></i>
            <i class="fab fa-apple" id="social-button"></i>
            <i class="fab fa-soundcloud" id="social-button"></i>
            <i class="fab fa-twitch" id="social-button"></i>

            <div class="top-button">
                <i class="fas fa-shopping-cart" id="top-button"></i>
                <i class="fas fa-user" id="top-button"></i>
            </div>
        </div>
    </div>
</div>
